body{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #d3adad;
}

header{
    width: 940px;
    margin: 1em 0 0 1em ;
}


.lado-izq{
    position: absolute;
 /*   background: #710A0A; */
    width: 50%;
}

.lado-der{
    background: #ffffff;
    width: 44%;
    position: absolute;
    margin: 0 53%;
    height: 514px;
    text-align: center;
    border-radius: 32px;
}

.caja-input {
    width: 90%;
    margin: 0.5em 4em 0.5em 2em ;
    height: 400px;
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: lightcoral;
    color: #710A0A;
    text-align: center;
    padding: 2 rem;
    font-size: 26px;
    font-weight: 900;
    font-family: "Abel", sans-serif;

}



.botones{
    margin-left: 15%;
}


.advertencia{
    margin-left: 25%;
    margin-bottom: 1em;
    color: #8d4730;
    font-weight: bold;
    font-size: 14px;
}

.boton-encriptar{
    width: 25%;
    margin-left: 4.2em;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #E8DCD8;
    background: #A04747;
    border-color: #A04747;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Abel", sans-serif;
}

.boton-desencriptar{
    width: 29%;
    margin-left: 2.3em;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #A04747;
    background: #E8DCD8;
    border-color: #E8DCD8;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Abel", sans-serif;
}

.monito{
    position: relative;
    width: 50%;
    margin-top: 0.8em;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.caja-output{
    position: relative;
    width: 50%;
    text-align: center;
    margin: 0.5em auto;
    background-color: #FFFFFF;
    font-size: 20px;
}

h2{
    font-weight: bold;
    color: #710A0A;
    font-size: 20px;
    margin-top: 0.5em;
}

h2+p{
    color: #710A0A;
    padding: 0.5em;
    font-size: 18px;
}

.boton-copia{
    width: 25%;
    margin-top: 15%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #A04747;
    background: #E8DCD8;
    border-color: #E8DCD8;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Abel", sans-serif;
    position: relative;
}


.caja-procesada{
    position: static;
    width: 90%;
    height: 60.5%;
    padding: 5%;
    text-align: left;
    display: none;
}

.texto-procesado{
    width: 90%;
    color: #710A0A;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

footer{
    position: relative;
    height: 30px;
    margin-top: 46%;
    text-align: center;
    background: palevioletred;
    padding: 18px;
    color: #710A0A;
    font-weight: bold;
    font-size: 12px;
}

#tag{
    font-size: 14px;
}
